{% extends 'Header_Aside_Template.html' %}
{% load static %}
{% load my_filters %}

{% block extraCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/films_tooltip.css' %}">
{% endblock %}

{% block userHeaderProfile %}
    <div class="post">
        <form method="post" action="{% url 'changePassword' %}" style="text-align: center">
            {% csrf_token %}

            <br>
            <ul class="errorlist">
                {% for error in form.non_field_errors %}
                    <li> {{  error }} </li>
                {% endfor %}
                <br>
            </ul>

            {% for field in form %}
                <div class="edit-label"> {{ field.name|title|_replace }} </div>
                <div class="edit-field"> {{ field }} </div>

                <ul class="errorlist">
                    {% for error in field.errors %}
                        <li> {{ error }} </li>
                    {% endfor %}
                </ul>
            {% endfor %}
            <div><input type="submit" name="commit" value="Submit" class="login_button edit_button" id="signup_button"></div>
        </form>
    </div>

{% endblock %}


{% block extraScripts %}
    <script src="{% static 'js/follow_unfollow.js' %}"> </script>
{% endblock %}
