{% extends 'Header_Aside_Template.html' %}
{% load static %}
{% load my_filters %}

{% block extraCSS %} <link rel="stylesheet" type="text/css" href="{% static 'css/popupStyle.css' %}"> {% endblock %}

{% block posts %}
    <div id="postsWrapper">
        <div class="post">
            <h1> {{ film.name }} </h1>
            <a href="#comment_film"> <img src="/static/img/rate_{{ film.averageScore|round }}.png" class="film_score"></a>
            <a href="#x" class="overlay" id="comment_film"></a>

            <div class="popup" formAction="{% url 'createPost' film.id %}">
                <div class="suggested_movie">
                    <a href=""><img src="{{ film.picture.url }}" title="{{ film.name }}" class="left_img suggested_movie_img"></a>
                    <a href=""><h2> {{ film.name }} </h2></a>
                    <a href="{{ film.imdbLink }}"><img src="{% static 'img/IMDB.png' %}"></a>
                    <br><br>
                    <span> Rate this movie: </span>

                    <div id="rating" rate="1">
                        <img src="{% static 'img/1.png' %}" rate="1">
                        <img src="{% static 'img/0.png' %}" rate="2">
                        <img src="{% static 'img/0.png' %}" rate="3">
                        <img src="{% static 'img/0.png' %}" rate="4">
                        <img src="{% static 'img/0.png' %}" rate="5">
                        <img src="{% static 'img/0.png' %}" rate="6">
                        <img src="{% static 'img/0.png' %}" rate="7">
                        <img src="{% static 'img/0.png' %}" rate="8">
                        <img src="{% static 'img/0.png' %}" rate="9">
                        <img src="{% static 'img/0.png' %}" rate="10">
                    </div>
                    <br>

                </div>

                <div class="popup_div">
                    <div>
                        <a href=""><img src="{{ currUser.profilePicture.url }}" class="left_img profile_img"></a>
                    <p> {{ currUser.user.username }} </p>
                    </div>
                    <textarea placeholder="Write your comment about {{ film.name }}"></textarea>
                </div>
                <div class="popup_buttons">
                    <a href=""><input id='postFilm' type=submit value="OK"/></a>
                    <a href="#"><input type=submit value="Cancel"/></a>
                </div>
            </div>
            <a href="{{ film.imdbLink }}"><img src="{% static 'img/IMDB.png' %}"  class="imdb_img"></a>

            <div class="movie_rate"> average rate: {{ film.averageScore|decimal }} </div>

            <hr>
            <div class="post_body">
                <img src="{{ film.picture.url }}" class="right_img">
                <p>
                    {{ film.description }}
                </p>
            </div>
            <hr>
            <div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extraScripts %}
    <script src="{% static 'js/setRatingImage.js' %}"></script>
    <script src="{% static 'js/postAboutFilm.js' %}"></script>
{% endblock %}
